#header-container {
   height: 130px;

   .container-header-content {
      width: 100%; 
      display: flex;
      padding-top: 1rem;


      .container-header-icons {
         flex-basis: 25%;
         display: flex;
         justify-content: center;
         align-items: center;
         
         .container-boxes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .social-box {
               width: 35px;
               height: 35px;
               border-radius: 50%;
               box-shadow: 0px 1px 3px 0px;
               display: flex;
               justify-content: center;
               align-items: center;
               overflow: hidden;
               border: solid 1px white;

               a {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #ffffff;

                  i {
                     font-size: 25px;
                  }
               }
               
               .brand-facebook {

                  i {
                     color: var(--clr-brand-facebook);
                     font-size: 39px;
                  }
               }
               
               .brand-tiktok {
                  background-color: var(--clr-brand-tiktok);
               }

               .brand-twitter {
                  background-color: var(--clr-brand-twitter);
               }

               .icon-search {

                  i {
                     color: var(--clr-black);
                  }
               }

               .icon-user {

                  i {
                     color: var(--clr-logo-red);
                  }
               }
            }
         }
      }

      .no-shadows > * {
         box-shadow: none !important;
         overflow: initial !important;
      }

      .container-header-logo {
         flex-basis: 50%;
         display: flex;
         justify-content: center;
         align-items: center;

         a {

            img {
               object-fit: contain;
               object-position: center;
            }
         }
      }

      .container-header-actions {
         flex-basis: 12%;

         .social-box {
            width: 50px;
            height: 50px;
            border-radius: 50%
         }
      }
   }

}

.container-header-nav {
   margin-top: 2.5rem;
   position: sticky;
   left: 0;
   top: 0;
   z-index: 1000;
   padding: 0.7rem 0;
   box-shadow: 0 2px 3px -2px;
   background: rgb(255 255 255 / 75%);
   -webkit-backdrop-filter: blur(7px);
   backdrop-filter: blur(9px);
   border: 1px solid rgba(255, 255, 255, 0.25);

   .header-navlinks {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      li {

         a {
            color: #0E0F19;
            padding: .5rem;
            text-transform: uppercase;
         }
      }
   }
}