{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<aside class="sidebar-admin">
   {% include "commons/_sidebar-admin.html.twig" %}
</aside>

<div class="container-admin d-flex f-col">
   <a href="{{path("admin.content")}}" class="mb-3">Modifier les contenus présents sur le site</a>
   {% if is_granted("ROLE_SUPERADMIN") %}
      <a href="{{path("admin.structure")}}">Modifier la structure de certains éléments du site</a>
   {% endif %}
</div>


{% endblock %}
