:root {
    // Colors//

    //- Categories
    --clr-politique: #ff4e00;
    --clr-economie: #FFB100;
    --clr-geopolitique: #3581B8;
    --clr-societe: #c0c781;
    --clr-arts: #c47ac0;

    //- Categories backgrounds
    --clr-unSat-politique: #FC773D;
    --clr-unSat-economie: #FCC23D;


    //- Logo
    --clr-logo-blue: #001D6E;
    --clr-logo-unSat-blue: #405692;
    --clr-logo-red: #E6001F;
    --clr-logo-unSat-red: #E93D54;
    --clr-logo-green: #33673B;
    --clr-logo-unSat-green: #668D6C;

    --clr-body-content: #F4F4F4;

    --clr-brand-twitter: #1da1f2;
    --clr-brand-facebook: #1877f2;
    --clr-brand-tiktok: #000000;

    // Others //
    --clr-black: #0E0F19;
    --clr-grey: #87878C;

    //- Widths
    --icons-w50: 50px;
    --images-w480: 480px;
    --images-w320: 320px;
    --images-w150: 150px;

    //- Spacings
    --spacing-categories: 225px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#main-container {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}
