// Roboto
@font-face {
   font-family: 'roboto_regular';
   src: url('../fonts/Roboto-webfontkit/roboto-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'roboto_medium';
   src: url('../fonts/Roboto-webfontkit/roboto-medium-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'roboto_bold';
   src: url('../fonts/Roboto-webfontkit/roboto-bold-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

// Roboto Slab
@font-face {
   font-family: 'roboto_slabregular';
   src: url('../fonts/Roboto_Slab-webfontkit/robotoslab-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'roboto_slabmedium';
   src: url('../fonts/Roboto_Slab-webfontkit/robotoslab-medium-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'roboto_slabbold';
   src: url('../fonts/Roboto_Slab-webfontkit/robotoslab-bold-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}


:root {
   font-family: "roboto_medium";
   font-size: 16px;
}

h1 {
   font-family: "roboto_slabbold";
   font-size: 48px;
}

h2 {
   font-family: "roboto_slabbold";
   font-size: 36px;
}

h3 {
   font-family: "roboto_slabbold";
   font-size: 24px;
}

h4 {
   font-family: "roboto_slabbold";
   font-size: 16px;
}

h5 {
   font-family: "roboto_slabbold";
   font-size: 12px;
}

a {
   font-family: "roboto_slabbold";
   font-size: 20px;
}

@media only screen and (max-width: 1024px) {
   :root {
      font-size: 14px;
   }
   
   h1 {
      font-size: 40px;
   }
   
   h2 {
      font-size: 30px;
   }
   
   h3 {
      font-size: 20px;
   }
   
   h4 {
      font-size: 14px;
   }
   
   a {
      font-size: 16px;
   }
}

@media only screen and (max-width: 375px) {
   
   h1 {
      font-size: 32px;
   }
   
   h2 {
      font-size: 24px;
   }
   
   h3 {
      font-size: 16px;
   }
   
   h4 {
      font-size: 14px;
   }
   
   a {
      font-size: 16px;
   }
}