:root {
  --clr-politique: #ff4e00;
  --clr-economie: #FFB100;
  --clr-geopolitique: #3581B8;
  --clr-societe: #c0c781;
  --clr-arts: #c47ac0;
  --clr-unSat-politique: #FC773D;
  --clr-unSat-economie: #FCC23D;
  --clr-logo-blue: #001D6E;
  --clr-logo-unSat-blue: #405692;
  --clr-logo-red: #E6001F;
  --clr-logo-unSat-red: #E93D54;
  --clr-logo-green: #33673B;
  --clr-logo-unSat-green: #668D6C;
  --clr-body-content: #F4F4F4;
  --clr-brand-twitter: #1da1f2;
  --clr-brand-facebook: #1877f2;
  --clr-brand-tiktok: #000000;
  --clr-black: #0E0F19;
  --clr-grey: #87878C;
  --icons-w50: 50px;
  --images-w480: 480px;
  --images-w320: 320px;
  --images-w150: 150px;
  --spacing-categories: 225px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.body-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#main-container {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto-webfontkit/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/Roboto-webfontkit/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto-webfontkit/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/Roboto-webfontkit/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_slabregular";
  src: url("../fonts/Roboto_Slab-webfontkit/robotoslab-regular-webfont.woff2") format("woff2"), url("../fonts/Roboto_Slab-webfontkit/robotoslab-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_slabmedium";
  src: url("../fonts/Roboto_Slab-webfontkit/robotoslab-medium-webfont.woff2") format("woff2"), url("../fonts/Roboto_Slab-webfontkit/robotoslab-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_slabbold";
  src: url("../fonts/Roboto_Slab-webfontkit/robotoslab-bold-webfont.woff2") format("woff2"), url("../fonts/Roboto_Slab-webfontkit/robotoslab-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "roboto-regular";
  font-size: 16px;
}

h1 {
  font-family: "roboto_slabbold";
  font-size: 48px;
}

h2 {
  font-family: "roboto_slabbold";
  font-size: 36px;
}

h3 {
  font-family: "roboto_slabbold";
  font-size: 24px;
}

h4 {
  font-family: "roboto_slabbold";
  font-size: 16px;
}

h5 {
  font-family: "roboto_slabbold";
  font-size: 12px;
}

a {
  font-family: "roboto_slabbold";
  font-size: 20px;
}

.btnShowMore {
  font-family: "roboto_slabmedium";
  font-size: 14px;
  color: var(--clr-logo-red);
}

.greyedOut {
  font-size: 10px;
  color: var(--clr-grey);
}

.icon {
  width: var(--icons-w50);
}

#header-container {
  height: 130px;
}
#header-container .container-header-content {
  width: 100%;
  display: flex;
  padding-top: 1rem;
}
#header-container .container-header-content .container-header-icons {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-container .container-header-content .container-header-icons .container-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: solid 1px white;
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box a i {
  font-size: 25px;
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box .brand-facebook i {
  color: var(--clr-brand-facebook);
  font-size: 39px;
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box .brand-tiktok {
  background-color: var(--clr-brand-tiktok);
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box .brand-twitter {
  background-color: var(--clr-brand-twitter);
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box .icon-search i {
  color: var(--clr-black);
}
#header-container .container-header-content .container-header-icons .container-boxes .social-box .icon-user i {
  color: var(--clr-logo-red);
}
#header-container .container-header-content .no-shadows > * {
  box-shadow: none !important;
  overflow: initial !important;
}
#header-container .container-header-content .container-header-logo {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-container .container-header-content .container-header-logo a img {
  object-fit: contain;
  object-position: center;
}
#header-container .container-header-content .container-header-actions {
  flex-basis: 12%;
}
#header-container .container-header-content .container-header-actions .social-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.container-header-nav {
  margin-top: 2.5rem;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 0.7rem 0;
  box-shadow: 0 2px 3px -2px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.container-header-nav .header-navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.container-header-nav .header-navlinks li a {
  color: #0E0F19;
  padding: 0.5rem;
  text-transform: uppercase;
}

.container-content-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 150px;
  margin-bottom: var(--spacing-categories);
}
.container-content-header .container-title-header {
  border-bottom: solid 2px var(--clr-black);
  padding-bottom: 0.3rem;
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.container-content-header .container-carrousel-header {
  display: flex;
  position: relative;
}
.container-content-header .container-carrousel-header::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 365px;
  z-index: 0;
}
.container-content-header .container-carrousel-header.accueil::before {
  background-color: var(--clr-logo-unSat-blue);
}
.container-content-header .container-carrousel-header.economie::before {
  background-color: var(--clr-economie);
}
.container-content-header .container-carrousel-header.politique::before {
  background-color: var(--clr-unSat-politique);
}
.container-content-header .container-carrousel-header.geopolitique::before {
  background-color: var(--clr-geopolitique);
}
.container-content-header .container-carrousel-header.societe::before {
  background-color: var(--clr-societe);
}
.container-content-header .container-carrousel-header.artsLitteratures::before {
  background-color: var(--clr-arts);
}
.container-content-header .container-carrousel-header .wrapper-carrousel-chevrons {
  flex-basis: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-chevrons i {
  font-size: 20px;
  color: var(--clr-black);
}
.container-content-header .container-carrousel-header .wrapper-carrousel-chevrons .chevron-left {
  align-self: flex-start;
  padding-left: 0.5rem;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-chevrons .chevron-right {
  align-self: flex-end;
  padding-right: 0.5rem;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid {
  flex-basis: 90%;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups {
  width: 100%;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 455px;
  min-height: 730px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px;
  background-color: white;
  z-index: 1;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-category {
  flex-basis: 6%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0rem 0.5rem 0.8rem;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-category h4 {
  text-transform: uppercase;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-category h5 {
  margin-left: 0.8rem;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-image {
  flex-basis: 46%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-image span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-title {
  flex-basis: 6%;
  height: 100%;
  padding: 2rem 0.5rem 0;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-content {
  flex-basis: 36%;
  height: 100%;
  padding: 0.5rem;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions {
  flex-basis: 6%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .article-action {
  display: flex;
  align-items: center;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .article-action span {
  font-size: 12px;
  color: var(--clr-grey);
  font-family: "roboto_slabregular";
  margin-right: 0.3rem;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .article-action i {
  font-size: 16px;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .author {
  font-size: 14px;
  color: var(--clr-logo-red);
  font-family: "roboto_slabbold";
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .publishedAt {
  font-size: 12px;
  font-family: "roboto_slabregular";
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .likes {
  display: flex;
  gap: 6px;
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .likes div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-family: "roboto_slabregular";
}
.container-content-header .container-carrousel-header .wrapper-carrousel-mid .container-carrousel-groups .carrousel-group-1 .container-carrousel-cards .carrousel-article-actions .likes div i:first-child {
  color: var(--clr-logo-red) !important;
}

.container-content-body {
  width: 100%;
  max-width: 1600px;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}
.container-content-body .wrapper-body-content {
  flex-basis: 77%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-body-content);
}
.container-content-body .wrapper-body-content .container-body-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-title {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  border-bottom: solid 2px var(--clr-black);
  padding: 1rem 1rem 0.5rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-title h2 {
  text-transform: uppercase;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content {
  display: flex;
  margin-bottom: var(--spacing-categories);
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content {
  flex-basis: 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-title {
  padding: 4rem 75px 2rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-title h3 {
  text-transform: uppercase;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content {
  display: flex;
  justify-content: center;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-chevrons {
  flex-basis: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-chevrons i {
  font-size: 20px;
  color: var(--clr-black);
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .chevron-left {
  padding-left: 0.5rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .chevron-right {
  padding-right: 0.5rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards {
  flex-basis: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards .body-categories-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 365px;
  height: 540px;
  padding: 1rem;
  box-shadow: 0 2px 5px 0px;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards .body-categories-cards-container .container-card-image {
  flex-basis: 41%;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards .body-categories-cards-container .container-card-image img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards .body-categories-cards-container .container-card-title {
  flex-basis: 7%;
  display: flex;
  align-items: center;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards .body-categories-cards-container .container-card-content {
  flex-basis: 45%;
  padding-top: 0.7rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards .body-categories-cards-container .container-card-actions {
  flex-basis: 7%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-content .container-body-category-content .body-categories-cards .body-categories-cards-container .container-card-actions p {
  color: var(--clr-logo-red);
  font-family: "roboto_slabbold";
  font-size: 14px;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar {
  flex-basis: 27%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-title {
  text-transform: uppercase;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-title h3 {
  padding: 4rem 0 2rem;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0px;
  border-radius: 5px 5px 0 0;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards {
  display: flex;
  border: solid 1px #87878C;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 2px 0px;
  min-height: 75px;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-author .body-sidebar-cards-author-spans {
  display: flex;
  flex-wrap: wrap;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-author .body-sidebar-cards-author-spans p {
  font-family: "roboto_slabmedium";
  font-size: 10px;
  color: var(--clr-logo-red);
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-left: dashed 1px #D0D0D2;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-title {
  background-color: var(--clr-economie);
  border-radius: 0 5px 0 0;
  color: #ffffff;
  text-transform: uppercase;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-title h5 {
  padding: 5px;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-content-body .wrapper-body-content .container-body-categories .container-categories-content .wrapper-body-categories-sidebar .container-body-sidebar-content .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-content p {
  font-family: "roboto_slabmedium";
  font-size: 11px;
}
.container-content-body .wrapper-body-sidebar {
  flex-basis: 23%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.container-content-body .wrapper-body-sidebar .container-sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 7px -1px;
  border-radius: 5px 5px 0 0;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-logo-green);
  padding: 0.5rem;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card {
  padding: 0 1rem;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card:last-child {
  padding-bottom: 1rem;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards {
  display: flex;
  border: solid 1px #87878C;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 2px 0px;
  min-height: 75px;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-author .body-sidebar-cards-author-spans {
  display: flex;
  flex-wrap: wrap;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-author .body-sidebar-cards-author-spans p {
  font-family: "roboto_slabmedium";
  font-size: 10px;
  color: var(--clr-logo-red);
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-left: dashed 1px #D0D0D2;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-content p {
  padding: 5px;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-title {
  background-color: var(--clr-economie);
  border-radius: 0 5px 0 0;
  color: #ffffff;
  text-transform: uppercase;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-title h5 {
  padding: 5px;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-content-body .wrapper-body-sidebar .container-sidebar .wrapper-sidebar-parole .container-parole-cards .parole-card .container-body-sidebar-cards .body-sidebar-cards-content .body-sidebar-cards-content-content p {
  font-family: "roboto_slabmedium";
  font-size: 11px;
}
#body-admin {
  display: flex;
}
#body-admin .sidebar-admin {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
}
#body-admin .sidebar-placeholder {
  width: 280px;
  height: 100vh;
  flex-basis: 15%;
}
#body-admin .body-container-admin {
  flex-basis: 85%;
  width: 100%;
  padding: 3rem;
}

.container-body-authors {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: var(--spacing-categories);
}
.container-body-authors .container-authors-title {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  border-bottom: solid 2px var(--clr-black);
  padding: 1rem 1rem 0.5rem;
}
.container-body-authors .container-authors-title h2 {
  text-transform: uppercase;
}
.container-body-authors .container-authors-content {
  display: flex;
  justify-content: space-evenly;
}
.container-body-authors .container-authors-content .categories-content-authors-cards {
  min-height: 320px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 0px;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-image {
  flex-basis: 52%;
  display: flex;
  justify-content: center;
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-image img {
  width: 150px;
  border-radius: 50%;
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-name {
  flex-basis: 9%;
  display: flex;
  align-items: center;
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-name h4 {
  color: var(--clr-logo-red);
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-descr {
  flex-basis: 30%;
  text-align: center;
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-descr p {
  font-size: 12px;
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-showProfile {
  flex-basis: 9%;
}
.container-body-authors .container-authors-content .categories-content-authors-cards .authors-card-showProfile a {
  font-size: 10px;
  color: var(--clr-logo-red);
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-between {
  display: flex;
  justify-content: space-between;
}

.f-around {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
