:root {
  --clr-politique: #ff4e00;
  --clr-economie: #FFB100;
  --clr-geopolitique: #3581B8;
  --clr-societe: #c0c781;
  --clr-arts: #c47ac0;
  --clr-unSat-politique: #FC773D;
  --clr-unSat-economie: #FCC23D;
  --clr-logo-blue: #001D6E;
  --clr-logo-unSat-blue: #405692;
  --clr-logo-red: #E6001F;
  --clr-logo-unSat-red: #E93D54;
  --clr-logo-green: #33673B;
  --clr-logo-unSat-green: #668D6C;
  --clr-body-content: #F4F4F4;
  --icons-w50: 50px;
  --images-w480: 480px;
  --images-w320: 320px;
  --images-w150: 150px;
  --spacing-categories: 225px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.body {
  max-width: 1600px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../public/assets/fonts/Roboto-webfontkit/roboto-regular-webfont.woff2") format("woff2"), url("../../public/assets/fonts/Roboto-webfontkit/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url("../../public/assets/fonts/Roboto-webfontkit/roboto-bold-webfont.woff2") format("woff2"), url("../../public/assets/fonts/Roboto-webfontkit/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_slabregular";
  src: url("../../public/assets/fonts/Roboto_Slab-webfontkit/robotoslab-regular-webfont.woff2") format("woff2"), url("../../public/assets/fonts/Roboto_Slab-webfontkit/robotoslab-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_slabmedium";
  src: url("../../public/assets/fonts/Roboto_Slab-webfontkit/robotoslab-medium-webfont.woff2") format("woff2"), url("../../public/assets/fonts/Roboto_Slab-webfontkit/robotoslab-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_slabbold";
  src: url("../../public/assets/fonts/Roboto_Slab-webfontkit/robotoslab-bold-webfont.woff2") format("woff2"), url("../../public/assets/fonts/Roboto_Slab-webfontkit/robotoslab-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "roboto-regular";
  font-size: 16px;
}

h1 {
  font-family: "roboto_slabbold";
  font-size: 48px;
}

h2 {
  font-family: "roboto_slabbold";
  font-size: 36px;
}

h3 {
  font-family: "roboto_slabbold";
  font-size: 24px;
}

h4 {
  font-family: "roboto_slabbold";
  font-size: 16px;
}

a {
  font-family: "roboto_slabbold";
  font-size: 20px;
}

.btnShowMore {
  font-family: "roboto_slabmedium";
  font-size: 14px;
  color: var(--clr-logo-red);
}

.icon {
  width: var(--icons-w50);
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-between {
  display: flex;
  justify-content: space-between;
}

.f-around {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
