<div class="footer-logo">
   <img src="{{asset("assets/img/2-logo-no-background.png")}}" alt="">
</div>
<div class="footer-links">
   {% include "commons/_generic-navlinks.html.twig" %}
</div>
<div class="footer-contact">
   <div class="container-footer-title">
      <h5>Nous contacter</h5>
   </div>
   <div class="container-footer-socials">
      <div class="socials-boxes">
            <h6>Via nos réseaux sociaux</h6>
            <div>
               <div class="social-box">
                  <a href="https://twitter.com/" target="blank" class="brand-twitter"><i class="fa-brands fa-twitter"></i></a>
               </div>
               <div class="social-box">
                  <a href="https://facebook.com/" target="blank" class="brand-facebook"><i class="fa-brands fa-facebook"></i></a>
               </div>
               <div class="social-box">
                  <a href="https://www.tiktok.com/explore" target="blank" class="brand-tiktok"><i class="fa-brands fa-tiktok"></i></a>
               </div>
            </div>
      </div>
      <div class="socials-infos">
            <h6>Par email ou par téléphone</h6>
            <div>
               <div>
                  <i class="fa-solid fa-envelope"></i> <p>parolelibre@media.fr</p>
               </div>
               <div>
                  <i class="fa-solid fa-phone"></i> <p>07 77 77 77 77</p>
               </div>
            </div>
      </div>
   </div>
</div>