<div class="container-sidebar">

	{# Sidebar Parole Libre #}
	<div class="wrapper-sidebar-parole">

		<div class="container-parole-title">
			<h4>Dernières "Parole Libre"</h4>
		</div>

		<div class="container-parole-cards">

			{# Articles #}
			<article class="parole-card">

				<div class="container-body-sidebar-cards">
					<div class="body-sidebar-cards-author">
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">Par</span>
							<p>Pseudo1234</p>
						</div>
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">le</span>
							<p>jj/mm/yyyy</p>
						</div>
					</div>
					<div class="body-sidebar-cards-content">
						<div class="body-sidebar-cards-content-title">
							<h5>Politique</h5>
						</div>
						<div class="body-sidebar-cards-content-content">
							<p>Titre : Le Débat sur la Régulation des Médias Sociaux</p>
						</div>
					</div>
				</div>
			</article>

			<article class="parole-card">

				<div class="container-body-sidebar-cards">
					<div class="body-sidebar-cards-author">
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">Par</span>
							<p>Pseudo1234</p>
						</div>
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">le</span>
							<p>jj/mm/yyyy</p>
						</div>
					</div>
					<div class="body-sidebar-cards-content">
						<div class="body-sidebar-cards-content-title">
							<h5>Titre de l'article, ceci est un exemple de titre</h5>
						</div>
						<div class="body-sidebar-cards-content-content">
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet expedita distinctio sed. Cupiditate ullam autem nemo vitae eum atque nesciunt ut expedita facilis sequi minus, optio itaque obcaecati porro fugit?</p>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
	
	{# Séparateur #}
	<div class="parole-separator"></div>

	{# Sidebar Commentaires #}
	<div class="wrapper-sidebar-comments">

		<div class="container-parole-title">
			<h4>Derniers Commentaires</h4>
		</div>

		<div class="container-parole-cards">

			{# Articles #}
			<article class="parole-card">

				<div class="container-body-sidebar-cards">
					<div class="body-sidebar-cards-author">
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">Par</span>
							<p>Pseudo1234</p>
						</div>
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">le</span>
							<p>jj/mm/yyyy</p>
						</div>
					</div>
					<div class="body-sidebar-cards-content">
						<div class="body-sidebar-cards-content-title">
							<h5>Titre de l'article, ceci est un exemple de titre</h5>
						</div>
						<div class="body-sidebar-cards-content-content">
							<p>Commentaire : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet expedita distinctio sed. Cupiditate ullam autem nemo vitae eum atque nesciunt ut expedita facilis sequi minus, optio itaque obcaecati porro fugit?</p>
						</div>
					</div>
				</div>
			</article>

			<article class="parole-card">

				<div class="container-body-sidebar-cards">
					<div class="body-sidebar-cards-author">
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">Par</span>
							<p>Pseudo1234</p>
						</div>
						<div class="body-sidebar-cards-author-spans">
							<span class="greyedOut">le</span>
							<p>jj/mm/yyyy</p>
						</div>
					</div>
					<div class="body-sidebar-cards-content">
						<div class="body-sidebar-cards-content-title">
							<h5>Titre de l'article, ceci est un exemple de titre</h5>
						</div>
						<div class="body-sidebar-cards-content-content">
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet expedita distinctio sed. Cupiditate ullam autem nemo vitae eum atque nesciunt ut expedita facilis sequi minus, optio itaque obcaecati porro fugit?</p>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>

	{# Sidebar Commentaires #}
	<div class="wrapper-sidebar-comments"></div>
</div>
