{% extends 'base.html.twig' %}

{% block title %}Admin - Contenu du site{% endblock %}

{% block body %}

{% block main %}

   <h1>Accueil - Contenu du site</h1>

   <a href="{{path("app_admin_articles")}}">Articles</a>
   <a href="{{path("app_admin_commentaries")}}">Commentaires</a>
   <a href="{{path("app_admin_users")}}">Utilisateurs</a>
   <a href="{{path("app_admin_reports")}}">Signalements</a>
   
{% endblock %}


{% endblock %}
